Databricks are default using delta tables.

In [0]:
%sql
use catalog cgi_dev;
create table cgi_dev.karthik.time_travel (id INT, name STRING, age INT)

In [0]:
%sql
describe extended cgi_dev.karthik.time_travel;

In [0]:
%sql
DESCRIBE HISTORY cgi_dev.karthik.time_travel;

In [0]:
%sql
insert into karthik.time_travel values (1,'Karthik',31), (2,'Ravi', 40), (3, 'Priya',30)

In [0]:
%sql
update karthik.time_travel set age = 32 where name = 'Karthik';

In [0]:
%sql
delete from karthik.time_travel where name = 'Ravi';

In [0]:
df = spark.read.option("versionasof", 2).table("karthik.time_travel") # this is for history recovery
df.show()

In [0]:
df = spark.read.table("karthik.time_travel") # this is for current state
df.show()

In [0]:
%sql
insert into naval.emp values (12, 'Karthik Parthiban', 31)

### Schema restriction

In [0]:
df = spark.read.csv("/Volumes/cgi_dev/naval/raw/housing.csv", inferSchema = True)